table {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    letter-spacing: 1px;
}

th,
td {
    border: 1px solid rgb(150 150 150);
    padding: 8px 12px;
    text-align: center;
}

.catarina,
.acre {
    background-color: lightgray;
}

thead th,
tfoot tr {
    background-color: rgb(0 0 0);
    color: white;
    font-weight: 700;
}